@{
    ViewData["Title"] = "SignUp";
}
<input class="ds-n" id="leftMenuActive" value="false" />
<div class="pr_wr">
    <div class="pr_bd">
        <div class="fm fm-pr" id="form" data-controller="account" data-method="SignUp">
            <div class="fm_hd">
                <div class="fm_hd-h">Создание персонального аккаунта</div>
                <div class="fm_hd-dsc">Аккаунт позволяет создавать проекты и управлять задачами.</div>
            </div>

            <div class="fm_bd fm-pr_bd">
                <div class="fm-item fm-pr-item InputWrapper">
                    <label class="fm-item--lb">
                        Имя
                        <input class="inp" name="FirstName" type="text" />
                    </label>
                    <div class="inp-er_wr ErrorWrapper">
                        <div class="inp-er_bd ErrorMessage"></div>
                    </div>
                </div>
                <div class="fm-item fm-pr-item InputWrapper ValidationTrue">
                    <label class="fm-item--lb">
                        Email
                        <input class="inp" name="Email" type="email" />
                    </label>
                    <div class="inp-er_wr ErrorWrapper">
                        <div class="inp-er_bd ErrorMessage"></div>
                    </div>
                </div>
                <div class="fm-item fm-pr-item InputWrapper ValidationTrue">
                    <label class="fm-item--lb">
                        Пароль
                        <input class="inp" name="Password" type="password" />
                    </label>
                    <div class="inp-er_wr ErrorWrapper">
                        <div class="inp-er_bd ErrorMessage"></div>
                    </div>
                </div>

                <div class="fm-item">
                    <div class="fm-ft--lst-item">
                        <div class="fm-ft--lst-item-link"><a href="/signin">Войти</a></div>
                    </div>
                    <div class="fm-ft--lst-item">
                        <div class="fm-ft--lst-item-txt">или</div>
                    </div>
                    <div class="fm-ft--lst-item" style="width:151px">
                        <button class="btn fm--btn ButtonTarget" data-target="SignUp" type="button">Зарегистрироваться</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>