@{
    ViewData["Title"] = "SignIn";
}

<div class="pr_wr">
    <div class="pr_bd">
        <div class="fm fm-pr" id="form" data-controller="account" data-method="SignIn">
            <div class="fm_hd">
                <div class="fm_hd-h">Вход в аккаунт</div>
            </div>

            <div class="fm_bd fm-pr_bd">
                <div class="fm-item fm-pr-item InputWrapper">
                    <label class="fm-item--lb">
                        Email
                        <input class="inp" name="Email" type="email" />
                    </label>
                    <div class="inp-er_wr ErrorWrapper">
                        <div class="inp-er_bd ErrorMessage"></div>
                    </div>
                </div>
                <div class="fm-item fm-pr-item InputWrapper">
                    <label class="fm-item--lb">
                        Пароль
                        <input class="inp" name="Password" type="password" />
                    </label>
                    <div class="inp-er_wr ErrorWrapper">
                        <div class="inp-er_bd ErrorMessage"></div>
                    </div>
                </div>

                <div class="fm-item">
                    <div class="fm-ft--lst-item" style="width:177px">
                        <div class="fm-ft--lst-item-link"><a href="/signup">Зарегистрироваться</a></div>
                    </div>
                    <div class="fm-ft--lst-item">
                        <div class="fm-ft--lst-item-txt">или</div>
                    </div>
                    <div class="fm-ft--lst-item" style="width:64px">
                        <button class="btn fm--btn ButtonTarget" data-target="SignIn" type="button">Войти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>