@{
    ViewData["Title"] = "Project add.";
}
<input class="ds-n" id="leftMenuActive" value="true" />
<div class="pr_wr">
    <div class="pr_bd">
        <div class="fm fm-pr" id="form" data-controller="project" data-method="Add">
            <div class="fm_hd">
                <div class="fm_hd-h">Создание нового проекта</div>
                <div class="fm_hd-dsc">Проект может содержать список заданий и участников.</div>
            </div>

            <div class="fm_bd fm-pr_bd">
                <div class="fm-item fm-pr-item InputWrapper">
                    <label class="fm-item--lb">
                        Название
                        <input class="inp" name="Name" type="text" />
                    </label>
                </div>
                <div class="fm-item fm-pr-item InputWrapper">
                    <label class="fm-item--lb">
                        Описание
                        <textarea class="inp fm-item--tta" name="Description"></textarea>
                    </label>
                </div>

                <div class="fm-item fm-pr-item">
                    <button class="btn fm--btn fm-pr-item--btn ButtonTarget" data-target="Add">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/project.css">