@{
    ViewData["Title"] = "Index";
}
<input class="ds-n" id="pageNum" value="21" />
<div class="pr_wr" id="tasksWrapper">
    <div class="pr_hd">
        <div class="pr_hd-item1">
            <div class="pr_hd-h TaskProjectName"></div>
            <div class="pr_hd-dsc TaskProjectDescription"></div>
        </div>
        <div class="pr_hd-item2">
            <button class="btn pr_hd-item2--btn" type="button">Сортировка</button>
        </div>
    </div>
    <div class="pr_bd TasksBody">
        <div class="pr_bd-item tsks-item-add">
            <button class="btn tsks-item--btn TaskAddBtn">Добавить задачу</button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/project.css">
<link rel="stylesheet" href="~/css/task.css">
<script>
    document.addEventListener("DOMContentLoaded", function () {
        project.Get();

        if (document.getElementById('tasksWrapper').getElementsByClassName('TaskName') !== null) {
            let items = document.getElementById('tasksWrapper').getElementsByClassName('TaskName');
            for (let item of items) {
                item.onclick = task.OpenSettings;
            }
        }

        if (document.getElementById('tasksWrapper').getElementsByClassName('TaskAddBtn') !== null) {
            document.getElementById('tasksWrapper').getElementsByClassName('TaskAddBtn')[0].onclick = task.OpenPopUpForm;
        }
    });
</script>