@{
    ViewData["Title"] = "Index";
}
<input class="ds-n" id="pageNum" value="21" />
<div class="pr_wr" id="tasksWrapper">
    <div class="pr_hd">
        <div class="pr_hd-item1">
            <div class="pr_hd-h TaskProjectName"></div>
            <div class="pr_hd-dsc TaskProjectDescription"></div>
        </div>
        <div class="pr_hd-item2">
            <button class="btn pr_hd-item2--btn" type="button">Сортировка</button>
        </div>
    </div>
    <div class="pr_bd TasksBody">
        <div class="pr_bd-item tsk_bd-item-add">
            <button class="btn tsk_bd-item--btn TaskAddBtn">Добавить задачу</button>
        </div>
    </div>
    <div class="tsk_stg TaskSettingsMenu">
        <div class="fm_bd">
            <div class="fm-item tsk_stg-item InputWrapper">
                <label class="fm-item--lb" for="taskName">State</label>
                <select class="inp">
                    <option>Выполнено</option>
                    <option>Не выполнено</option>
                </select>
            </div>
            <div class="fm-item tsk_stg-item InputWrapper">
                <label class="fm-item--lb" for="taskName">Finish date</label>
                <input class="inp" id="taskName" name="Name" type="date">
            </div>
            <div class="fm-item tsk_stg-item">
                <label class="fm-item--lb">Mark</label>
                <div class="tsk_stg-item--mrk_wr tsk_stg-item--mrk_wr-active">
                    <input class="inp tsk_stg-item--mrk bcg-clr--yellow" name="Mark" type="text">
                    <input class="inp tsk_stg-item--mrk bcg-clr--green1" name="Mark" type="text">
                    <input class="inp tsk_stg-item--mrk bcg-clr--green2" name="Mark" type="text">
                    <input class="inp tsk_stg-item--mrk bcg-clr--orange1" name="Mark" type="text">
                    <input class="inp tsk_stg-item--mrk bcg-clr--orange2" name="Mark" type="text">
                    <input class="inp tsk_stg-item--mrk bcg-clr--pink1" name="Mark" type="text">
                    <input class="inp tsk_stg-item--mrk bcg-clr--pink2" name="Mark" type="text">
                    <input class="inp tsk_stg-item--mrk bcg-clr--blue1" name="Mark" type="text">
                    <input class="inp tsk_stg-item--mrk bcg-clr--blue2" name="Mark" type="text">
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/project.css">
<script>
    document.addEventListener("DOMContentLoaded", function () {
        project.Get();

        if (document.getElementById('tasksWrapper').getElementsByClassName('Task') !== null) {
            let items = document.getElementById('tasksWrapper').getElementsByClassName('Task');
            for (let item of items) {
                item.onclick = task.OpenSettings;
            }
        }

        if (document.getElementById('tasksWrapper').getElementsByClassName('TaskAddBtn') !== null) {
            document.getElementById('tasksWrapper').getElementsByClassName('TaskAddBtn')[0].onclick = task.OpenPopUpForm;
        }
    });
</script>