@{
    ViewData["Title"] = "List";
}
<input class="ds-n" id="leftMenuActive" value="true" />
<div class="app_bd_hd">
    <div class="app_bd_hd-item1">
        <div class="app_bd_hd-h">Список проектов</div>
    </div>
    <div class="app_bd_hd-item2">
        <button class="btn app_bd_hd-item2--btn" type="button">Сортировка</button>
    </div>
</div>
<div class="pr_wr ProjectListWrapper">
    <div class="pr_bd ProjectListBody"></div>
</div>
<link rel="stylesheet" href="~/css/project.css">
<script>
    document.addEventListener("DOMContentLoaded", function () {
        project.GetItems();
    });
</script>