@{
    ViewData["Title"] = "List";
}

<div class="pr_wr" id="projectListWrapper">
    <div class="pr_hd ProjectListHead">
        <div class="pr_hd-item1">
            <div class="pr_hd-h">Список проектов</div>
        </div>
        <div class="pr_hd-item2">
            <button class="btn pr_hd-item2--btn" type="button">Сортировка</button>
        </div>
    </div>
    <div class="pr_bd ProjectListBody">
        <div class="pr_bd-list--item ProjectListItem">
            <div class="pr_bd-list--item_hd">
                <div class="pr_bd-list--item_hd-nm ProjectListItemName">Название проекта</div>
                <div class="pr_bd-list--item_hd-dsc ProjectListItemDescription">Это очень или неочень длинное описание проекта</div>
            </div>
            <div class="pr_bd-list--item_ft">
                <button class="btn pr_bd-list--item_ft--btn" type="button">Открыть</button>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/project.css">