<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="app_wr pp-active" id="app">

        <div class="app_wr-mn_wr" id="appLeftMenu">
            <div class="app_wr-mn_bd AppLeftMenuBody">
                <a href="/project/add">
                    <div class="app_wr-mn_bd-item_wr">
                        <div class="btn app_wr-mn_bd-item app_wr-mn_bd-item-add"></div>
                        @*<div class="app_wr-mn_bd-item-add--txt">Добавить проект</div>*@
                    </div>
                </a>
            </div>
        </div>

        <div class="app_bd">

            <div class="pp" id="popUp">
                <div class="pp_bcg"></div>
                <div class="pp_wr">
                    <div class="pp_hd PopUpHead">Радактирование задачи</div>
                    <div class="pp_bd PopUpBody">
                        <div class="tsk_stg">
                            <div class="fm">
                                <div class="fm-item">
                                    <label class="fm-item--lb">
                                        Заголовок задачи
                                        <input class="inp TaskSettingsTitle" name="Title" type="text">
                                    </label>
                                </div>
                                <div class="fm-item">
                                    <div class="fm-item-l">
                                        <label class="fm-item--lb">
                                            Состояние
                                            <select class="inp TaskSettingsState">
                                                <option>Выполнено</option>
                                                <option>Не выполнено</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="fm-item-r">
                                        <label class="fm-item--lb">
                                            Дата окончания
                                            <input class="inp TaskSettingsFinishDate" name="FinishDate" type="datetime-local">
                                        </label>
                                    </div>
                                </div>
                                <div class="fm-item">
                                    <label class="fm-item--lb">
                                        Описание
                                        <textarea class="inp fm-item--tta TaskSettingsDescription" name="Description"></textarea>
                                    </label>
                                </div>
                                <div class="fm-item tsk_stg-item">
                                    <label class="fm-item--lb">Mark</label>
                                    <div class="tsk_stg-item--mrk_wr tsk_stg-item--mrk_wr-active">
                                        <input class="inp tsk_stg-item--mrk bcg-clr--yellow" name="Mark" type="text" disabled>
                                        <input class="inp tsk_stg-item--mrk bcg-clr--green1" name="Mark" type="text" disabled>
                                        <input class="inp tsk_stg-item--mrk bcg-clr--green2" name="Mark" type="text" disabled>
                                        <input class="inp tsk_stg-item--mrk bcg-clr--orange1" name="Mark" type="text" disabled>
                                        <input class="inp tsk_stg-item--mrk bcg-clr--orange2" name="Mark" type="text" disabled>
                                        <input class="inp tsk_stg-item--mrk bcg-clr--pink1" name="Mark" type="text" disabled>
                                        <input class="inp tsk_stg-item--mrk bcg-clr--pink2" name="Mark" type="text" disabled>
                                        <input class="inp tsk_stg-item--mrk bcg-clr--blue1" name="Mark" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pp_ft PopUpFooter">
                        <div class="pp_ft-item pp_ft-item1">
                            <button class="btn pp_ft-item--btn PopUpButton PopUpCloseButton">Отмена</button>
                        </div>
                        <div class="pp_ft-item pp_ft-item2">
                            <button class="btn pp_ft-item--btn pp_ft-item--btn1 PopUpButton PopUpPerformButton">Выполнить</button>
                        </div>
                    </div>
                </div>
            </div>

            @RenderBody()
        </div>
    </div>
    <script src="~/js/app.js"></script>
    <script src="~/js/core.js"></script>
</body>
</html>