@{
    ViewData["Title"] = "Project";
}

<div class="app_bd_hd">
    <div class="app_bd_hd-item1">
        <div class="app_bd_hd-h">Настройки проекта</div>
    </div>
</div>
<div class="stg_wr ProjectSettingsWrapper">
    <div class="stg-mn_wr">
        <div class="stg-mn_bd">
            <div class="btn stg-mn_bd--btn">Аккаунт</div>
            <div class="btn stg-mn_bd--btn stg-mn_bd--btn-active">Проект</div>
        </div>
    </div>
    <div class="stg_bd">
        <div class="fm stg-fm ProjectSettingsDataWrapper" data-controller="project" data-method="Update">
            <div class="fm_hd">
                <div class="fm_hd-h">Основное</div>
                <div class="fm_hd-dsc">Настройка имени, описания проекта.</div>
            </div>
            <div class="fm_bd">
                <div class="fm-item">
                    <label class="fm-item--lb">
                        Название проекта
                        <input class="inp ProjectSettingsName" name="Name" type="text">
                    </label>
                </div>
                <div class="fm-item">
                    <label class="fm-item--lb">
                        Описание
                        <textarea class="inp fm-item--tta ProjectSettingsDescription" name="Description"></textarea>
                    </label>
                </div>
                <div class="fm-item">
                    <button class="btn fm--btn fl-r ButtonTarget" data-target="Update">Сохранить</button>
                </div>
            </div>
        </div>

        <div class="fm stg-fm ProjectSettingsMembersRolesWrapper" data-controller="project" data-method="UpdateRoles">
            <div class="fm_hd">
                <div class="fm_hd-h">Роли проекта</div>
                <div class="fm_hd-dsc">Выберите цвет роли, введите название и нажмите Space или Enter</div>
            </div>
            <div class="fm_bd">
                <div class="fm-item">
                    <label class="fm-item--lb">Роли проекта</label>
                    <div class="pr_stg-rls ProjectSettingsMembersRoles"></div>
                </div>
                <div class="fm-item pr_stg-rls--inp_wr">
                    <label class="fm-item--lb">
                        Роль
                        <input class="inp ProjectSettingsUserRole ColorNone" name="Role" type="text">
                    </label>
                </div>
                <div class="fm-item pr_stg-rls--clrs_wr">
                    <div class="pr_stg-rls--clrs_bd">
                        <div class="pr_stg-rls--clr ProjectSettingsUserRoleColor Orange1" title="Оранжевый"></div>
                        <div class="pr_stg-rls--clr ProjectSettingsUserRoleColor Green2" title="Залёный"></div>
                        <div class="pr_stg-rls--clr ProjectSettingsUserRoleColor Red" title="Красный"></div>
                        <div class="pr_stg-rls--clr ProjectSettingsUserRoleColor Blue2" title="Синий"></div>
                        <div class="pr_stg-rls--clr ProjectSettingsUserRoleColor Pink2" title="Розовый"></div>
                        <div class="pr_stg-rls--clr ProjectSettingsUserRoleColor ColorNone pr_stg-rls--clr-none" title="Без цвета"></div>
                    </div>
                </div>
                <div class="fm-item">
                    <button class="btn fm--btn fl-r ButtonTarget" data-target="UpdateRoles">Сохранить</button>
                </div>
            </div>
        </div>

        <div class="fm stg-fm ProjectSettingsMarksWrapper" data-controller="project" data-method="Update">
            <div class="fm_hd">
                <div class="fm_hd-h">Метки проекта</div>
                <div class="fm_hd-dsc">Создать новую, редактировать.</div>
            </div>
            <div class="fm_bd">
                <div class="fm-item">
                    <label class="fm-item--lb">Метки</label>
                    <div class="pr_stg-mrks ProjectSettingsMarks">
                        <input class="inp pr_stg-mrks--item ProjectSettingsMark Yellow" name="Mark1" type="text">
                        <input class="inp pr_stg-mrks--item ProjectSettingsMark Orange1" name="Mark2" type="text">
                        <input class="inp pr_stg-mrks--item ProjectSettingsMark Orange2" name="Mark3" type="text">
                        <input class="inp pr_stg-mrks--item ProjectSettingsMark Red" name="Mark4" type="text">
                        <input class="inp pr_stg-mrks--item ProjectSettingsMark Green1" name="Mark5" type="text">
                        <input class="inp pr_stg-mrks--item ProjectSettingsMark Green2" name="Mark6" type="text">
                        <input class="inp pr_stg-mrks--item ProjectSettingsMark Blue1" name="Mark7" type="text">
                        <input class="inp pr_stg-mrks--item ProjectSettingsMark Blue2" name="Mark8" type="text">
                        <input class="inp pr_stg-mrks--item ProjectSettingsMark Pink1" name="Mark9" type="text">
                        <input class="inp pr_stg-mrks--item ProjectSettingsMark Pink2" name="Mark10" type="text">
                    </div>
                </div>
                <div class="fm-item">
                    <button class="btn fm--btn fl-r ButtonTarget" data-target="Update">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/project.css">
<link rel="stylesheet" href="~/css/settings.css">

<script>
    document.addEventListener("DOMContentLoaded", function () {
        settings.project.GetItem();
        settings.project.memberRole.GetItems();

        for (let colorItem of document.getElementsByClassName('ProjectSettingsUserRoleColor')) {
            colorItem.onclick = settings.project.memberRole.ColorChoose;
        }

        if (document.getElementsByClassName('ProjectSettingsUserRole').length > 0) {
            document.getElementsByClassName('ProjectSettingsUserRole')[0].onkeydown = settings.project.memberRole.Add;
        }
    });
</script>