.pr_wr{
    width:100%;
    height:100%;
}

.pr_bd-list--item{
    border-radius:4px;
    border:1px solid #eee;
    max-width:300px;
    min-width:200px;
    padding:15px 10px;
    margin:0 10px 20px 10px;
    float:left;
    overflow:hidden;
    box-shadow:rgba(0, 0, 0, 0.06) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 0.5px 1px;
}
.pr_bd-list--item_hd-nm{
    color:#5a4f4f;
    font-weight:600;
    font-size:16px;
    margin-bottom:10px;
}
.pr_bd-list--item_hd-dsc{
    margin-bottom:20px;
}
.pr_bd-list--item_ft{
    border-top:1px solid #eee;
    padding-top:10px;
}
.pr_bd-list--item_ft--btn{
    height:30px;
    line-height:2;
    float:right;
}
.fm-pr{
    background:#fff;
    max-width:700px;
    padding:15px;
    border-radius:2px;
}
@media only screen and (max-width: 767px){
    .fm-pr{
        padding:5px;
    }
}
.fm-pr-item--sld_wr{
    width:100%;
    height:200px;
    padding:10px;
    text-align:center;
}
.fm-pr-item--sld_bd--img{
    width:180px;
    height:180px;
    background:#eee;
}
.fm-pr-item--btn{
    float:right;
}

.pr_stg-mrks--item{
    border:none;
    color:#fff;
    font-weight:600;
    font-size:12px;
}

.pr_stg-rls{
    border:1px solid #eee;
    padding:10px 0;
    border-radius:4px;
    overflow:hidden;
    background:#eee;
    margin-top:5px;
}
.pr_stg-rls--item{
    height:30px;
    line-height:30px;
    max-width:150px;
    padding:0 12px;
    text-align:center;
    border-radius:2px;
    font-weight:600;
    transition:0.2s;
    margin:0 5px;
    position:relative;
    float:left;
    background:none;
}
.pr_stg-rls--item--btn{
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    height:30px;
    width:20px;
}

.pr_stg-rls .Orange1,
.pr_stg-rls--inp_wr .Orange1{
    color:orange;
}
.pr_stg-rls .Orange1:hover{
    color:orange;
    background:rgba(255, 165, 0, 0.15);
}
.pr_stg-rls .Green2,
.pr_stg-rls--inp_wr .Green2{
    color:green;
}
.pr_stg-rls .Green2:hover{
    color:green;
    background:rgba(0, 128, 0, 0.15);
}
.pr_stg-rls .Red,
.pr_stg-rls--inp_wr .Red{
    color:red;
}
.pr_stg-rls .Red:hover{
    color:red;
    background:rgba(255, 0, 0, 0.15);
}
.pr_stg-rls .Blue2,
.pr_stg-rls--inp_wr .Blue2{
    color:blue;
}
.pr_stg-rls .Blue2:hover{
    color:blue;
    background:rgba(0, 0, 255, 0.15);
}
.pr_stg-rls .Pink2,
.pr_stg-rls--inp_wr .Pink2{
    color:deeppink;
}
.pr_stg-rls .Pink2:hover{
    color:deeppink;
    background:rgba(255, 20, 147, 0.15);
}
.pr_stg-rls--clrs_wr{
    padding:0px 15px 12px 15px;
}
.pr_stg-rls--clrs_bd{
    overflow:hidden;
}
.pr_stg-rls--clr{
    float:left;
    width:30px;
    height:20px;
    margin-right:32px;
    cursor:pointer;
    border-radius:2px;
}
.pr_stg-rls--clr-none{
    background:#fff;
    border:1px solid #eee;
    margin-right:0;
}
.pr_stg-rls--inp_wr .inp{
    background:#fff;
}