.pr_wr{
    width:100%;
    height:100%;
    /*overflow:hidden;*/
}
.pr_bd{
    /*display:inline-block;*/
    /*overflow:hidden;*/
}

.pr_bd-list--item{
    border-radius:4px;
    border:1px solid #eee;
    max-width:300px;
    min-width:200px;
    padding:15px 10px;
    margin:0 10px 20px 10px;
    float:left;
    overflow:hidden;
    box-shadow:rgba(0, 0, 0, 0.06) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 0.5px 1px;
}
.pr_bd-list--item_hd-nm{
    color:#5a4f4f;
    font-weight:600;
    font-size:16px;
    margin-bottom:10px;
}
.pr_bd-list--item_hd-dsc{
    margin-bottom:20px;
}
.pr_bd-list--item_ft{
    border-top:1px solid #eee;
    padding-top:10px;
}
.pr_bd-list--item_ft--btn{
    height:30px;
    line-height:2;
    float:right;
}
.fm-pr{
    background:#fff;
    max-width:700px;
    padding:15px;
    border-radius:2px;
}
@media only screen and (max-width: 767px){
    .fm-pr{
        padding:5px;
    }
}
.fm-pr-item--sld_wr{
    width:100%;
    height:200px;
    padding:10px;
    text-align:center;
}
.fm-pr-item--sld_bd--img{
    width:180px;
    height:180px;
    background:#eee;
}
.fm-pr-item--btn{
    float:right;
}
.pr_hd{
    overflow:hidden;
    border-bottom:1px solid #e8e8e8;
    margin-bottom:20px;
}
.pr_hd-item1{
    float:left;
}
.pr_hd-h{
    color:#443a3a;
    font-size:2em;
    padding:8px 0;
}
.pr_hd-item2{
    float:right;
    padding:8px 0;
}
.pr_hd-item2--btn{
    height:35px;
    background:none;
}
.pr_hd-item2--btn:hover,
.pr_hd-item2--btn:active,
.pr_hd-item2--btn:focus{
    box-shadow:none;
}
.pr_hd-dsc{
    margin-bottom:20px;
}
.pr_hd-dsc,
.pr_hd-item--dsc{
    color:#8e8e8e;
}

.pr_stg-mn_wr{
    float:left;
    border:1px solid #eee;
    border-radius:4px;
    width:100%;
    max-width:200px;
}
.pr_stg-mn_bd--btn{
    height:35px;
    line-height:35px;
    border-radius:0;
    border:none;
    border-bottom:1px solid #eee;
    background:#fff;
    font-weight:600;
}
.pr_stg-mn_bd--btn:hover{
    position:relative;
}
.pr_stg-mn_bd--btn-active{
    box-shadow:0 3px 8px 0 rgba(0, 0, 0, 0.25);
    opacity:0.9;
    background:#eee;
}
.pr_stg-fm{
    max-width:400px;
}

.pr_stg-mrks--item{
    border:none;
    color:#fff;
    font-weight:600;
    font-size:12px;
}